html {
    font-size: 16px;
}
* {
    margin: 0;
    padding: 0;
}

/* ****Estilos Gerais****
*/

body {
    background: url('../imagens/fundo.png') fixed;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: sans-serif;
}

#principal {
    background: url('../imagens/fundo-login.png') fixed;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: sans-serif;
}

header {
	padding: 1em 0;
	height: 15vh;
    font-weight: bold;
    width: 100%;
    
}

#container {
    width: 100%;
    margin: 0 auto;
}

#area-logo{
    padding: 15px;
    width: fit-content;
}

#area-logo img {
    height: 3em;
}

#area-logo a {
    text-decoration: none;
    color: #fff;
}

#area-logo p {
    vertical-align: top;
    display: inline;
    font-size: 3em;
    /* padding: 1em; */
   
}




/* **** Estilos pagina Index ****
*/

#tela-index {
    background: linear-gradient(114.08deg, #07005B -22.81%, rgba(0, 89, 79, 0.7) 122.81%);
}

#area-botoes {
    /* position: absolute; */
    display: inline-block;
    width: 400px;
    height: 500px;
    left: 980px;
    top: 70px;
    text-align: center;
}

#area-botoes input {
    width: 217px;
    height: 80px;
    background: rgba(10, 255, 240, 0.7);
    border-radius: 10px;
    color: #fff;
    font-size: 20px;
    margin: 0 auto;
    border-color: rgba(10, 255, 240, 0.7);
    cursor: pointer;
    border: 0ch;
}

.entrar {
    padding: 90px;
}



/* **** Estilos pagina Principal ****
*/

#caixa-adicionar {
    background: gray; 
    font-size: 2.8em; 
    text-align: center;
    border: 3px solid #fff;
}

#caixa-adicionar p {
   margin-top: 20px;
}

#caixa-adicionar a {
    color: #fff;
    text-decoration: none;
    
}

#area-logo-principal img {
    height: 50px;
    
}

#area-logo-principal a {
    text-decoration: none;
    color: #fff;
}

#area-logo-principal p {
    
    display: inline;
    font-size: 30px;
    padding: 10px;
   
}

nav ul{
    text-align: center;
    margin-top: -50px;
	list-style: none;
	float: right;
}

nav ul li {
    float: right;
    padding: 2px;
    margin-right: 100px;
    font-size: 1.3em;
}

nav ul a {
    color: #fff;
    padding: 20px;
    text-decoration: none;
}

nav ul a:hover {
    background: rgba(18, 204, 210, 0.5);
    text-decoration: none;
    padding: 20px;
    border-radius: 10px;
}


#conteudo {
    align-content: center;
    
    margin-top: 15px;
    height: 350px;
    display: flex;
    justify-content: center;
}

.item {
    width: 200px;
    height: 300px;
    margin: 20px;
    background: #fff;
    border: 1px solid gray;
    
}


#barra-pesquisa {
    
    text-align: center;
    margin-top: 80px;
}

#barra-pesquisa input {
    box-sizing: border-box;
    position: relative;
    margin: 0 auto;
    width: 525px;
    height: 50px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid #050725;
    border-radius: 10px;
    color: #fff;
    font-size: 1.2em;
    
}

/* **** Estilos página Cadastro ****
*/

#area-cadastro {
position: absolute;
width: 400px;
height: 500px;
left: 980px;
top: 90px;
background: #46a7de99;
border-radius: 60px;
padding: 20px;
}

#formulario-cadastro {
    padding: 20px;
    color: #fff;
    text-align: left;
    font-size: 0.8em;
    
}

.centralizar {
    text-align: center;
    font-size: 2em;
    
}


#formulario-cadastro input{
    display: block;
    width: 330px;
    background: rgba(10, 66, 62, 0.7);
    border-radius: 50px;
    height: 35px;
    text-align: center;
    color: #fff;
    font-size: 1.2em;
    border: 0ch;
    margin-top: 10px;
    
    
}

#formulario-cadastro label {
    padding: 5px;
    position: relative;
    margin-left: 5px ;
    
    
}

#formulario-cadastro input[type="submit"] {
    width: 217px;
    height: 50px;
    background: rgba(10, 255, 240, 0.7);
    border-radius: 50px;
    color: #fff;
    font-size: 20px;
    margin: 0 auto;
    border-color: rgba(10, 255, 240, 0.7);
    cursor: pointer;
}

/* **** Estilos página Login ****
*/

#area-login {
position: absolute;
width: 400px;
height: 380px;
left: 980px;
top: 150px;
background: rgba(70, 167, 222, 0.6);
border-radius: 60px;
padding: 20px;
}

#formulario-login {
    padding: 20px;
    color: #fff;
    text-align: left;
    font-size: 0.8em;
    
}

.centralizar {
    text-align: center;
    font-size: 2em;
    
}


#formulario-login input{
    display: block;
    width: 330px;
    background: rgba(10, 66, 62, 0.7);
    border-radius: 50px;
    height: 35px;
    text-align: center;
    color: #fff;
    font-size: 1.2em;
    border: 0ch;
    margin-top: 5px;
}

#formulario-login label {
    padding: 5px;
    position: relative;
    margin-left: 5px ;
    
    
}

#formulario-login input[type="submit"] {
    width: 217px;
    height: 50px;
    background: rgba(10, 255, 240, 0.7);
    border-radius: 50px;
    color: #fff;
    font-size: 20px;
    margin-top: 20px;
    margin: 20px auto;
    border-color: rgba(10, 255, 240, 0.7);
    cursor: pointer;
}

#formulario-login input[type="checkbox"] {
   
    width: 50px;
    height: 20px;
    background: rgba(10, 255, 240, 0.7);
    border-radius: 50px;
    text-align: center;
    font-size: 1.2em;
    border: 0ch;
    margin-top: -5px;
    margin-left: -20px;
}


.titulo {
    display: inline-block;
    width: 50%;
    /* margin-top: 100px;
    margin-left: 30px; */
    color: #fff;
    /* font-size: 2em; */
    font-weight: bold;
    
}

.titulo h3 {
    font-size: 2em;
}

.titulo p {
    font-size: 1em;
}

.menor {
    
    width: 500px;
    margin-top: 50px;
    margin-left: 30px;
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
    
}

.menor a {
    
    color: #fff;
}

#descricao {
    
    font-size: 1.1em;
    width: 300px;
    margin-left: 30px;
    margin-top: 100px;
    font-weight: bold;
    color: #fff;
    padding: 20px;
}


section {
    color: #fff;
    font-weight: lighter;
    clear: both;
}

.link-esquerda {
    float: right;
    font-size: 1.2em;
}

.link-esquerda a{
    color: #e9ec0e;
    text-decoration: none;
}



.button {
   margin-top: 50px;
   text-align: center;

}

/* **** Estilos Rodapé ****
*/

footer {
    
	width: 100%;
    height: 96px;
	text-align: center;
	position: absolute;
    background: rgba(39, 80, 134, 0.5);
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: rgba(255, 255, 255, 0.502);
}

footer a {
    padding: 10px;
}

footer div {
    padding: 5px;
}

input#enviar{
    /* aqui você define o tamanho da fonte */
    font-size: 18px;

    /*
    se constar somente FontAwesome em font-family aparece o ícone porém o texto
    "informe seu e-mail" fica com a fonte padrão do navegador
    font-family: "FontAwesome";
    */

    /* fazendo dessa forma aparece o ícone e o texto fica formatado */
    font-family: "FontAwesome", Open Sans, Arial;

    /* aqui você define a cor */
    color: #FFF;

    /* definindo outros atributos */
    background-color: #00a0c4;
    border: 1px solid #00a0c4;
    border-radius: 4px;
    width: 150px;
    cursor: pointer;
}

/*
* utilizando class + position
*/
#box_icone_busca{
    width: 30px;
    height: 30px;
    padding: 10px;
    position: relative;
    left: -39px;
    top: 1px;
}
#icone_busca {
    color: #000;
    cursor: pointer;
}




