html {
    font-size: 16px;
    height: 100%;
}
* {
    margin: 0;
    padding: 0;
}

/* ****Estilos Gerais****
*/

body {
    background: url('../imagens/fundo.png') fixed;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: sans-serif;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}


.wrapper {
    flex: 1;
    width: 100%;
}


#principal {
    background: url('../imagens/fundo-login.png') fixed;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: sans-serif;
    height: 100%;
}

header {
	padding: 1em 0;
	height: 15vh;
    font-weight: bold;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#container {
    width: 100%;
    margin: 0 auto;
}

/*
**** Estilos pagina Principal ****
*/

#area-logo-principal{
    padding: 15px;
    width: fit-content;
    min-width: fit-content;
}

#area-logo-principal img {
    height: 3em;
}

#area-logo-principal a {
    text-decoration: none;
    color: #fff;
}

#area-logo-principal p {
    vertical-align: top;
    display: inline;
    font-size: 3em;
}

nav ul{
    text-align: right;
    width: fit-content;
	list-style: none;
    display: inline-block;
    margin: 1.5em auto;
}

nav ul li {
    padding: 2px;
    /* margin-right: 100px; */
    font-size: 1.3em;
    display: inline-block;
}

nav ul a {
    color: #fff;
    padding: 20px;
    text-decoration: none;
}

nav ul a:hover {
    background: rgba(18, 204, 210, 0.5);
    text-decoration: none;
    padding: 20px;
    border-radius: 10px;
}


.conteudo {
    align-content: center;
    margin-top: 1em;
    width: 90%;
    margin: auto;
    display: block;
}

.adicionar-item {
    background-color: gray;
    display: inline-block;
    width: 4em;
    height: 6em;
    margin: 2em;
    background: #fff;
    border: 1px solid gray;
    
}

.item {
    background-color: grey;
    vertical-align: top;
    display: inline-block;
    width: 10em;
    height: 15em;
    margin: 1em;
    border: 1px solid gray;
    text-align: center;
}

.item p {
    font-size: 1.5em;
    text-align: center;
    margin: 0.5em 1em 0;
}

.item i {
    margin: 1em auto 0.5em;
    font-size: 1.5em;
}

.item a {
    color: #fff;
    text-decoration: none;
}

.item a img {
    width: 10em;
    height: 15em;
    cursor: pointer;
}

img.item {
    width: 10em;
    height: 15em;
    cursor: pointer;
}


.categoria {
    width: 100%;
    padding: auto 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #FFF;
    margin: auto;
    color: #FFF;
}

.categoria h1{
    color: #FFF;
    margin-left: 1em;
}
.categoria a{
    color: #FFF;
    text-decoration: none;
    vertical-align: baseline;
    margin-right: 1em;
}

#barra-pesquisa {
    text-align: center;
    margin: 1em auto 2em;
}

#barra-pesquisa input {
    box-sizing: border-box;
    position: relative;
    margin: 0 auto;
    width: 525px;
    height: 50px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid #050725;
    border-radius: 10px;
    color: #fff;
    font-size: 1.2em;
    
}


/* **** Estilos Rodapé ****
*/

footer {
	width: 100%;
    height: 4em;
	text-align: center;
	position: relative;
    background: rgba(39, 80, 134, 0.5);
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: rgba(255, 255, 255, 0.502);
    bottom: 0;
}

footer a {
    padding: 10px;
}

footer div {
    padding: 5px;
}


.resumo-perfil {
    width: 100%;
    height: 5em;
    background: rgba(39, 80, 134, 0.5);
    display: flex;
    justify-content: center;
}

.resumo-perfil span {
    display: flex;
    flex-direction: row;
    margin: 2em;
    color: #FFF;
    font-weight: bold;
}

.resumo-perfil span i {
    margin-right: 1em;
}

.dados-usuario {
    margin: 3em;
    color: #FFF;
    display: inline-block;
}

.dado {
    margin: 1em auto;
}

.dado label {
    width: 10em;
    display: inline-block;
    font-size: 1em;
}

.dado input {
    border: none;
    background-color: transparent;
    font-size: 1em;
    color: #FFF;
}

form input, form select{
    display: block;
    width: 20em;
    background: rgba(10, 66, 62, 0.7);
    border-radius: 50px;
    height: 2.5em;
    text-align: center;
    color: #fff;
    font-size: 1.2em;
    border: none;
    margin-top: 5px;
}


form div {
    display: inline-block;
    margin-right: 1em;
}

form {
    margin-top: 1em;
}
form label {
    margin-left: 1em;
}
#botao-confirmar {
    display: inline-block;
}

form input[type="submit"] {
    width: 10em;
    height: 2.5em;
    background: rgba(10, 255, 240, 0.7);
    border-radius: 10px;
    color: #fff;
    font-size: 1.5em;
    margin: 1em auto;
    border-color: rgba(10, 255, 240, 0.7);
    cursor: pointer;
}

#genero-serie {
    background-color: #737373;
    width: fit-content;
    padding: 0.5em;
    border-radius: 10px;
}


.botoes-serie {
    text-align: center;
}

button#botao-deletar, button.botao-voltar {
    width: 10em;
    height: 2.5em;
    background: #D21212;
    border-radius: 10px;
    color: #fff;
    font-size: 1.5em;
    margin: 1em auto;
    cursor: pointer;
    border: none;
}

button#botao-atualizar, button.botao-confirmar {
    width: 10em;
    height: 2.5em;
    background: rgba(10, 255, 240, 0.7);
    border-radius: 10px;
    color: #fff;
    font-size: 1.5em;
    margin: 1em auto;
    cursor: pointer;
    border: none;
}

.div-alerta {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.644);
}
.modal {
    width: fit-content;
    position: relative;
    margin: 3em auto;
    background-color: #2D698A;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    padding: 2em;
    /* font-size: 1.5em; */
}

.modal h3{
    font-size: 1.5em;
}

.modal i{
    font-size: 1.5em;

}

.modal form label {
    text-align: left;
    margin: 1em;
    display: block;
}

.modal form{
    text-align: center;
    margin: auto;
    width: 100%;
}

.modal form input, .modal form select {
    width: 100%;
}

.modal i.fa-circle-check{
    font-size: 2.5em;
    margin-top: 1em;
    color: green;

}

.modal h4{
    margin-top: 2em;
    font-size: 1.5em;
}
#close-btn {
    position: absolute;
    right: 0.5em;
    top: 0.5em;
    cursor: pointer;
}
.close-btn {
    position: absolute;
    right: 0.5em;
    top: 0.5em;
    cursor: pointer;
}
.titulo-modal {
    position: absolute;
    left: 0.5em;
    top: 0.5em;
    cursor: pointer;
}

.modal p {
    margin:2em auto 1em;
}

input#enviar{
    /* aqui você define o tamanho da fonte */
    font-size: 18px;

    /*
    se constar somente FontAwesome em font-family aparece o ícone porém o texto
    "informe seu e-mail" fica com a fonte padrão do navegador
    font-family: "FontAwesome";
    */

    /* fazendo dessa forma aparece o ícone e o texto fica formatado */
    font-family: "FontAwesome", Open Sans, Arial;

    /* aqui você define a cor */
    color: #FFF;

    /* definindo outros atributos */
    background-color: #00a0c4;
    border: 1px solid #00a0c4;
    border-radius: 4px;
    width: 150px;
    cursor: pointer;
}



/*
* utilizando class + position
*/
#box_icone_busca{
    width: 30px;
    height: 30px;
    padding: 10px;
    position: relative;
    left: -39px;
    top: 1px;
}
#icone_busca {
    color: #000;
    cursor: pointer;
}

.nav-celular {
    display: none;
}



@media screen and (max-width: 700px){
    
    .wrapper {
        flex: 1;
        width: 100%;
    }
    
    
    
    header {
        padding: 1em 0;
        height: 15vh;
        font-weight: bold;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    #container {
        width: 100%;
        margin: 0 auto;
    }
    
    /*
    **** Estilos pagina Principal ****
    */
    
    #area-logo-principal{
        padding: 15px;
        width: fit-content;
        min-width: fit-content;
        margin: auto;
    }
    
    #area-logo-principal img {
        height: 3em;
    }
    
    #area-logo-principal a {
        text-decoration: none;
        color: #fff;
    }
    
    #area-logo-principal p {
        vertical-align: top;
        display: inline;
        font-size: 3em;
    }
    nav {
        display: none;
    }

    nav.nav-celular {
        position: fixed;
        bottom: 0;
        background-color: rgba(39, 80, 134);
        display: block;
        width: 100%;
        height: 7em;
    }
    nav ul{
        text-align: right;
        padding: auto 1em;
        width: fit-content;
        list-style: none;
        display: inline-block;
        margin: 1.5em auto;
    }

    .nav-celular ul{
        width: 100%;
        /* text-align: right; */
        /* width: fit-content; */
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 1.5em auto;
        font-size: 1.5em;
    }
    
    nav ul li {
        padding: 2px;
        /* margin-right: 100px; */
        font-size: 1.3em;
        display: inline-block;
    }
    
    
    nav ul a {
        color: #fff;
        padding: 20px;
        text-decoration: none;
    }
    
    nav ul a:hover {
        background: rgba(18, 204, 210, 0.5);
        text-decoration: none;
        padding: 20px;
        border-radius: 10px;
    }
    
    
    .conteudo {
        align-content: center;
        margin-top: 1em;
        width: 90%;
        margin: auto;
        display: block;
    }
    
    .adicionar-item {
        background-color: gray;
        display: inline-block;
        width: 4em;
        height: 6em;
        margin: 2em;
        background: #fff;
        border: 1px solid gray;
        
    }
    
    .item {
        background-color: grey;
        vertical-align: top;
        display: inline-block;
        width: 10em;
        height: 15em;
        margin: 1em;
        border: 1px solid gray;
        text-align: center;
    }
    
    .item p {
        font-size: 1.5em;
        text-align: center;
        margin: 0.5em 1em 0;
    }
    
    .item i {
        margin: 1em auto 0.5em;
        font-size: 1.5em;
    }
    
    .item a {
        color: #fff;
        text-decoration: none;
    }
    
    .item a img {
        width: 10em;
        height: 15em;
        cursor: pointer;
    }
    
    img.item {
        width: 10em;
        height: 15em;
        cursor: pointer;
    }
    
    
    .categoria {
        width: 100%;
        padding: auto 1em;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 1px solid #FFF;
        margin: auto;
        color: #FFF;
    }
    
    .categoria h1{
        color: #FFF;
        margin-left: 1em;
    }
    .categoria a{
        color: #FFF;
        text-decoration: none;
        vertical-align: baseline;
        margin-right: 1em;
    }
    
    #barra-pesquisa {
        text-align: center;
        margin: 1em auto 2em;
    }
    
    #barra-pesquisa input {
        box-sizing: border-box;
        position: relative;
        margin: 0 auto;
        width: 525px;
        height: 50px;
        padding: 10px;
        background: rgba(255, 255, 255, 0.5);
        border: 1px solid #050725;
        border-radius: 10px;
        color: #fff;
        font-size: 1.2em;
        
    }
    
    
    /* **** Estilos Rodapé ****
    */
    
    footer {
        width: 100%;
        height: 4em;
        text-align: center;
        position: relative;
        background: rgba(39, 80, 134, 0.5);
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        color: rgba(255, 255, 255, 0.502);
        bottom: 0;
    }
    
    footer a {
        padding: 10px;
    }
    
    footer div {
        padding: 5px;
    }
    
    
    .resumo-perfil {
        width: 100%;
        height: 5em;
        background: rgba(39, 80, 134, 0.5);
        display: flex;
        justify-content: center;
    }
    
    .resumo-perfil span {
        display: flex;
        flex-direction: row;
        margin: 2em;
        color: #FFF;
        font-weight: bold;
    }
    
    .resumo-perfil span i {
        margin-right: 1em;
    }
    
    .dados-usuario {
        margin: 3em;
        color: #FFF;
        display: inline-block;
    }
    
    .dado {
        margin: 1em auto;
    }
    
    .dado label {
        width: 10em;
        display: inline-block;
        font-size: 1em;
    }
    
    .dado input {
        border: none;
        background-color: transparent;
        font-size: 1em;
        color: #FFF;
    }
    
    form input, form select{
        display: block;
        width: 20em;
        background: rgba(10, 66, 62, 0.7);
        border-radius: 50px;
        height: 2.5em;
        text-align: center;
        color: #fff;
        font-size: 1.2em;
        border: none;
        margin-top: 5px;
    }
    
    
    form div {
        display: inline-block;
        margin-right: 1em;
    }
    
    form {
        margin-top: 1em;
    }
    form label {
        margin-left: 1em;
    }
    #botao-confirmar {
        display: inline-block;
    }
    
    form input[type="submit"] {
        width: 10em;
        height: 2.5em;
        background: rgba(10, 255, 240, 0.7);
        border-radius: 10px;
        color: #fff;
        font-size: 1.5em;
        margin: 1em auto;
        border-color: rgba(10, 255, 240, 0.7);
        cursor: pointer;
    }
    
    #genero-serie {
        background-color: #737373;
        width: fit-content;
        padding: 0.5em;
        border-radius: 10px;
    }
    
    
    .botoes-serie {
        text-align: center;
    }
    
    button#botao-deletar, button.botao-voltar {
        width: 10em;
        height: 2.5em;
        background: #D21212;
        border-radius: 10px;
        color: #fff;
        font-size: 1.5em;
        margin: 1em auto;
        cursor: pointer;
        border: none;
    }
    
    button#botao-atualizar, button.botao-confirmar {
        width: 10em;
        height: 2.5em;
        background: rgba(10, 255, 240, 0.7);
        border-radius: 10px;
        color: #fff;
        font-size: 1.5em;
        margin: 1em auto;
        cursor: pointer;
        border: none;
    }
    
    .div-alerta {
        display: none;
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.644);
    }
    .modal {
        width: fit-content;
        position: relative;
        margin: 3em auto;
        background-color: #2D698A;
        border-radius: 10px;
        color: #fff;
        text-align: center;
        padding: 2em;
        /* font-size: 1.5em; */
    }
    
    .modal h3{
        font-size: 1.5em;
    }
    
    .modal i{
        font-size: 1.5em;
    
    }
    
    .modal form label {
        text-align: left;
        margin: 1em;
        display: block;
    }
    
    .modal form{
        text-align: center;
        margin: auto;
        width: 100%;
    }
    
    .modal form input, .modal form select {
        width: 100%;
    }
    
    .modal i.fa-circle-check{
        font-size: 2.5em;
        margin-top: 1em;
        color: green;
    
    }
    
    .modal h4{
        margin-top: 2em;
        font-size: 1.5em;
    }
    #close-btn {
        position: absolute;
        right: 0.5em;
        top: 0.5em;
        cursor: pointer;
    }
    .close-btn {
        position: absolute;
        right: 0.5em;
        top: 0.5em;
        cursor: pointer;
    }
    .titulo-modal {
        position: absolute;
        left: 0.5em;
        top: 0.5em;
        cursor: pointer;
    }
    
    .modal p {
        margin:2em auto 1em;
    }
    
    input#enviar{
        /* aqui você define o tamanho da fonte */
        font-size: 18px;
    
        /*
        se constar somente FontAwesome em font-family aparece o ícone porém o texto
        "informe seu e-mail" fica com a fonte padrão do navegador
        font-family: "FontAwesome";
        */
    
        /* fazendo dessa forma aparece o ícone e o texto fica formatado */
        font-family: "FontAwesome", Open Sans, Arial;
    
        /* aqui você define a cor */
        color: #FFF;
    
        /* definindo outros atributos */
        background-color: #00a0c4;
        border: 1px solid #00a0c4;
        border-radius: 4px;
        width: 150px;
        cursor: pointer;
    }
    
    
    
    /*
    * utilizando class + position
    */
    #box_icone_busca{
        width: 30px;
        height: 30px;
        padding: 10px;
        position: relative;
        left: -39px;
        top: 1px;
    }
    #icone_busca {
        color: #000;
        cursor: pointer;
    }
    
    
    
    
    
}